name: zenspent

services:
  #  backend:
  #    build:
  #      context: .
  #      dockerfile: Dockerfile
  #    container_name: zenspent-app
  #    ports:
  #      - "8080:8080"
  #    restart: unless-stopped
  #    environment:
  #      DB_URL: jdbc:postgresql://db:5432/zenspent_db
  #      DB_USERNAME: zenspent_user
  #      DB_PASSWORD: zenspent_password
  #    networks:
  #      - zenspent-network
  db:
    image: postgres:18.0-alpine3.22
    container_name: zenspent-db
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_USER: zenspent_user
      POSTGRES_PASSWORD: zenspent_password
      POSTGRES_DB: zenspent_db
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - zenspent-network
    #reverse-proxy:
    # image: nginx:latest
    # container_name: zenspent-reverse-proxy
    # ports:
    #   - "80:80"
    # restart: unless-stopped
    # volumes:
    #   - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    # networks:
    #   - zenspent-network

  traefik-reverse-proxy:
    image: traefik:v3.6.2
    container_name: zenspent-traefik
    ports:
      - "80:80"
    restart: unless-stopped
    volumes:
      - ./config/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./config/traefik/dynamic.yml:/etc/traefik/dynamic/dynamic.yml:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - zenspent-network
networks:
  zenspent-network:
    driver: bridge

volumes:
  db-data:
