name: zenspent

services:
  backend:
    container_name: zenspent-app
    ports:
      - "8080:8080"
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_URL: jdbc:postgresql://db:5432/zenspent_db
      DB_USERNAME: zenspent_user
      DB_PASSWORD: zenspent_password
    networks:
      - zenspent-network
  db:
    image: postgres:17.4-alpine3.21
    container_name: zenspent-db
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_USER: zenspent_user
      POSTGRES_PASSWORD: zenspent_password
      POSTGRES_DB: zenspent_db
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - zenspent-network

networks:
  zenspent-network:
    driver: bridge

volumes:
  db-data:
