entryPoints:
  web:
    address: ":80"

api:
  dashboard: true

log:
  level: DEBUG

accessLog:
  filePath: /var/log/traefik-access.log
  bufferingSize: 1

providers:
  file:
    filename: /etc/traefik/dynamic/dynamic.yml
    watch: true
